{
    "presets": [
        "es2015",
        "stage-2"
    ],
    "plugins": [
        [
            "babel-plugin-module-alias",
            [
                { "src": "./src/db", "expose": "db" },
                { "src": "./src/models", "expose": "models" },
                { "src": "./src/middleware", "expose": "middleware" },
                { "src": "./src/controllers", "expose": "controllers" }
            ]
        ]
    ],
    "ignore": []
}
